body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}